<html>
	<head>
		<meta charset="utf-8">
		<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.0/angular.min.js"></script>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css">
		<script type="text/javascript" src="test.js"></script>
		<title>tester</title>
		<link href="sample.css" rel="stylesheet" type="text/css" />
	</head>
	<body ng-app>
		<div ng-controller="SampleController">
			<div class="saori"><button ng-click="click()"><img src="saori1.jpg" width="500px"></button>
				<p>{{message1}}</p></div>
		</div>
		<div ng-controller="SampleController">
			<div class="saori"><button ng-click="click()"><img src="saori2.jpg" width="500px"></button>
				<p>{{message2}}</p></div>
		</div>
	</body>
</html>

